<!DOCTYPE html>
<html>
    <head>
        <title> build a blog</title>
    <head>
        <style type="text/css">
        body {
            font-family: sans-serif;
            width : 800px;
            margin : 0 auto;
            padding: 10px;
            }
            .error {
                color: red;
                   }
        label {
            display: block;
            font-size: 20px;
              }
        </style>

     <body>

     {% block content %}
     {% endblock %}



    </body>

</html>
